# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3

print(numberFloat)

numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [12]:
result_diff = num2 - num1
print(result_diff)

result_diff -=1
print(result_diff - 1)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [14]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [19]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [21]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [23]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [25]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [34]:
name = "Connor"
print(name)

Connor

##### print() <br>
<p>Don't forget about end=' '</p>

In [37]:
print("This is my first name:", name)

print("Full Name:", name, end=" Folsom")

This is my first name: Connor
Full Name: Connor Folsom

##### String Concatenation

In [40]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [42]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [46]:
#Input will always return a string

name = input('What is your name?')
print("Nice to meet you, " + name)

age = input("What is your age?: ")
add_age = int(age) + 5
print(add_age)

What is your name?wow
Nice to meet you, wow
What is your age?: 2
7

##### format()

In [53]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again =f"{age} is a great time in life!!!"
print(result_again)

What is your age? 20
You are 20 wow and you are getting wiser!
20 is a great time in life!!!

##### Old Way (python 2)

In [54]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 20 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [55]:
name = input("What is your name? ")
color = input("What color is your car? ")
year = input("What year is your car? ")
model = input("What model is your car?")
print(name + ", your " + year + " "+ model + "s color is " + color + ".")

What is your name? Connor
What color is your car? Black
What year is your car? 2022
What model is your car?Covvy
Connor, your 2022Covvys color is Black.

### If Statements

In [63]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0

if num2 < num1 or num3 > 0:
    print("This is true!")
else:
    print("Equal values")

Equal values

##### 'is' keyword

In [65]:
num3 = 55

if num3 is 55:
    print("Same thing")

Same thing

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\gunha\AppData\Local\Temp/ipykernel_15052/2746738642.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [66]:
char_name = "Bilbo Baggins"

if "Bilbo" in char_name:
    print("The Ring Bearer")

The Ring Bearer

##### 'not in' keyword'

In [67]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print('a is NOT here...')

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [69]:
name = input("What is your name? ")

if 'p' not in name:
    print("Your name does not have a p!")
else:
    print("Your name has a p in it")

What is your name? pop
Your name has a p in it

## Using 'and'/'or' with If Statements

In [73]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True!")
    
if num_11 > num_12 or num_13 == num_14:
    print("True and False!")

True and True!
True and False!

### Elif Statements

In [78]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print('The name is Smith.')
elif first_name == 'Connor':
    print("The name is Connor")
elif  first_name != 'Max':
    print("The name is NOT Max")
else:
    print("The name is Max")

What is your name? Dop
The name is NOT Max

### Else Statements

In [ ]:
# see above

### For Loops

In [82]:
name = [5, 6, 7, 8]
print(name)

for letter in name:
    print(letter + 1)

[5, 6, 7, 8]
6
7
8
9

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [88]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [89]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [91]:
name = "Connor Folsom"

for i in name:
    pass

##### Double For Loops

In [92]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [95]:
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [102]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input("Would you like to stop? ")
    if user_input == 'Yes':
        game_over = False

Infinite Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [103]:
num = 0

while num < 5:
    print("\n While loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i + 1))
        
    num += 1

 While loop iteration: 0
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 1
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 2
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 3
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 4
For loop iteration:  1
For loop iteration:  2

### Built-In Functions

##### range()

In [106]:
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [108]:
name =input("Enter something! ")

length = len(name)
print(length)

Enter something! wowee
5

##### help()

In [110]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [117]:
num = 4
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float.")

Enter a number2
2 is a float.

##### abs()

In [118]:
print(abs(-5))

5

### Try and Except

In [123]:
try:
    input_num = int(input('Guess a number: '))
    print('Your number is ' + str(input_num))
except:
    print("No good!")

Guess a number: wow
No good!

### Lists

##### Declaring Lists

In [124]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [134]:
print(names[0])

print(names[1:])

print(names[:2])

print(names[::2])

print(names[::-1])

Max
['Cindy', 'Devin', 'bob', 'Nate', 'Brandon']
['Max', 'Cindy']
['Max', 'Devin', 'Nate']
['Brandon', 'Nate', 'bob', 'Devin', 'Cindy', 'Max']

##### .append()

In [131]:
names.append('Brandon')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Brandon']

##### .insert()

In [132]:
names.insert(3, 'Devin')
print(names)

['Max', 'Cindy', 'Kathy', 'Devin', 'bob', 'Nate', 'Brandon']

##### .pop()

In [133]:
my_name = names.pop(2)
print(my_name)

Kathy


##### .remove()

In [135]:
names.remove('bob')
print(names)

['Max', 'Cindy', 'Devin', 'Nate', 'Brandon']

##### del()

In [136]:
del(names[1])
print(names)

['Max', 'Devin', 'Nate', 'Brandon']

##### Concatenating Two Lists

In [139]:
list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
names = ['Max', 'sam', 'Josh', ['sally', 'sue', 'tameka']]
print(names)
print(names[3][1])

##### Looping Through Lists

In [141]:
for i in range(len(names)):
    print(names[i])
    
for i in names:
    print(i)

Max
sam
Josh
['sally', 'sue', 'tameka']
Max
sam
Josh
['sally', 'sue', 'tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [148]:
cube_numbers = 0
base_number = 0

while base_number < 1000:
    base_number = cube_numbers ** 3
    print(base_number)
    cube_numbers += 1

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [153]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for Number in range (1, 101):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count += 1
            break

    if (count == 0 and Number != 1):
        print(Number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [158]:
age = int(input("What is your age"))

if age > 0 and age <= 18:
    print("You are a kid")
elif age >= 18 and age <= 65:
    print("You are an adult")
else:
    print("You are seniors")

What is your age99
You are seniors